@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.bg-blue-600 {
  background-color: #3b82f6;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}

.container {
  max-width: 1200px;
}
